$mm_fontSize: 1em;
$mm_padding: 20px;

// Size
$mm_menuWidth: 0.8 !default;
$mm_menuMinWidth: 140px !default;
$mm_menuMaxWidth: 280px !default;

//	Colors
$mm_backgroundColor: #202020 !default;
$mm_textColor: #c5c5c5 !default;
$mm_navbarColor: #c5c5c5 !default;

//  Widescreen
$mm_ws_menuWidth: 280px !default;